.titulo-livro {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.titulo-livro::after {
  content: '';
  display: block;
  width: 300px;
  height: 4px;
  background-color: #5a2a24;
  margin: 10px auto;
  margin-bottom: 40px;
}

.livro-coluna {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.livro-imagem {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.div-info {
  font-size: 14px;
  color: #333;
  letter-spacing: 1px;
}

.div-info p {
  margin: 2px 0;
}

.livro-btnCompra {
  color: #5a2a24;
  border: none;
  background-color: #ffffff00;
  transition: transform 0.2s ease-in-out;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.livro-btnCompra:hover {
  color: #5a2a24;
  background-color: #ffffff00;
  transform: scale(1.1);
}

.escrever-resenha-livro,
.tag-dellivrobiblioteca,
.tag-addlivrobiblioteca {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  white-space: nowrap;
  gap: 5px;
}


.escrever-resenha-livro button {
  border: none;
  background-color: transparent;
  color: #5a2a24;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: transform 0.2s ease-in-out;
  letter-spacing: 1px;
}

.escrever-resenha-livro button:hover {
  color: #5a2a24;
  background-color:#ffffff00;
  transform: scale(1.1);
}

.avaliacao-livro p {
  font-size: 13px;
  color: #a1a1a1;
  letter-spacing: 1px;
}

.btn-tag-lido-livro,
.btn-tag-relido-livro{
  margin-bottom: 10px;
}

.botao-del-LivroBiblioteca,
.botao-add-LivroBiblioteca{
border: none;
  background-color: transparent;
  color: #5a2a24;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: transform 0.2s ease-in-out;
  letter-spacing: 1px;
}

.botao-del-LivroBiblioteca:hover,
.botao-add-LivroBiblioteca:hover {
  color: #5a2a24;
  background-color:#ffffff00;
  transform: scale(1.1);
}

.btn-tag-lido-livro,
.btn-tag-relido-livro {
  color: #a1a1a1;
  border: none;
  background-color: #ffffff00;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s;
  transition: transform 0.2s ease-in-out;
  letter-spacing: 1px;
  
  font-weight: bold;
}

.btn-tag-lido-livro:hover,
.btn-tag-relido-livro:hover {
  color: #120e44;
  background-color: #ffffff00;
  transform: scale(1.1);
}

.btn-tag-lido-livro.ativo,
.btn-tag-relido-livro.ativo {
  color: #120e44;
}

/*css segunda coluna*/

.lista-resenhas-titulo {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.lista-resenhas-titulo::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background-color: #5a2a24;
  margin: 10px auto;
  margin-bottom: 20px;
}

.livro-coluna-texto {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  text-align: justify;
  box-sizing: border-box; /* Garante que padding não afete a largura total */
}

.livro-info {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}

.resenha-container {
  width: 100%;
  margin-top: 20px;
}

.lista-resenhas {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.lista-resenhas li {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.lista-resenhas h3 {
  font-size: 1.2rem;
  color: #5a2a24;
  margin-bottom: 10px;
}

.lista-resenhas p {
  font-size: 0.9rem;
  color: #666;
}

.livro-coluna {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.escrever-resenha {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.escrever-resenha .MuiButton-root {
  background-color: #5a2a24; 
  color: white;
}

.escrever-resenha .MuiButton-root:hover {
  background-color: #8a4d41; 
}

.escrever-resenha .botoes-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
}

.escrever-resenha .botoes-container .MuiButton-root {
  margin-left: 10px;
}
